* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rock Salt";
    background-color: #000000;
    color: white;
}

#title {
    text-align: center;
    margin-top: 10px;
}

#title h3 {
    color: #d70e0e;
    margin-top: -5px;
}

#title h6 {
    margin-top: 5px;
}

#game-area {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 300px;
}

#choose-btn {
    width: 60%;
}

#choose-btn h3 {
    font-size: 32px;
    text-align: center;
}

#btn-container {
    margin-top: 50px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#player-score-area, #computer-score-area {
    text-align: center;
    width: 15%;
    border: 1px dashed red;
}

#player-score-area p, #computer-score-area p {
    margin-top: 25px;
}

#player-score, #computer-score {
    color: red;
    font-size: 32px;
}

button {
    font-family: "Rock Salt";
    font-size: 50px;
    width: 300px;
}

#results, #winner-announcement {
    width: 100%;
    text-align: center;
}

#winner-announcement {
    font-size: 32px;
    color: red;
}

#results {
    font-size: 24px;
}

.play-again-btn {
    display: block;
    font-size: 12px;
    margin: 0 auto;
    width: 100px;
}

